In [4]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
from itertools import chain

In [5]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
        host = host_name,
        user = user_name,
        password = user_password)
        print("MySql connection Successful")
    except Error as err:
        print(f"Error : '{err}'")
    return connection
              
pw = "1234"
db = "qa_db"
connection = create_server_connection("localhost", "root", pw)

Error : '2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)'

In [6]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error : '{err}'")
create_db_query = "Create database qa_db"
create_database(connection, create_db_query)

AttributeError: 'NoneType' object has no attribute 'cursor'

In [ ]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
        host = host_name,
        user = user_name,
        password = user_password,
        database = db_name)
        print("qa_db connectionn sucessful")
    except Error as err:
        print(f"Error : '{err}'")
    return connection

In [ ]:
def excute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was successful")
    except Error as err:
        print(f"Error : '{err}'")

In [18]:
create_keyword_table ='''CREATE TABLE QA_Keywords(
   Field_N CHAR(20) NOT NULL,
   Xpath_F CHAR(200) ,
   Type_F CHAR(20) ,
   Man_F CHAR(1),
   Min_L CHAR(20),
   Max_L CHAR(20)
)'''
pw = "RJD060502@"
connection = create_db_connection("localhost", "root", pw, db)
excute_query(connection, create_keyword_table)

Error : '2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)'

AttributeError: 'NoneType' object has no attribute 'cursor'

In [168]:
data_keywords = """
insert into QA_keywords values
('route0', 'abc0','d1','y', 'a','b'),
('route1', 'abc1','d1','y', 'a','b'),
('route2', 'abc2','d1','y', 'a','b'),
('route3', 'abc3','d1','y', 'a','b'),
('route4', 'abc4','d1','y', 'a','b');

"""
connection = create_db_connection("localhost", "root", pw, db)
excute_query(connection, data_keywords)

qa_db connectionn sucessful
Query was successful

In [9]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error : '{err}'")

In [13]:
qa0 = """
SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'qa_keywords'
"""
qa1 = """
SELECT * FROM qa_db.qa_keywords
"""
connection = create_db_connection("localhost", "root", pw, db)
result0 = pd.DataFrame(read_query(connection, qa0))
result1 = pd.DataFrame(read_query(connection, qa1))
column_names = list(chain.from_iterable(result0.values.tolist()))
column_values = result1.values.tolist()
results = [column_names] + column_values
print(results)

Error : '2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)'

AttributeError: 'NoneType' object has no attribute 'cursor'

In [ ]:
qa0 = """
SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'qa_keywords'
"""
qa1 = """
SELECT * FROM qa_db.qa_keywords
"""
connection = create_db_connection("localhost", "root", pw, db)
result0 = pd.DataFrame(read_query(connection, qa0))
result1 = pd.DataFrame(read_query(connection, qa1))
print(result1,len(result1))
temp = {}
temp1 = {}
for i in range(0,len(result1[0][0])):
    for j in range(1,len(result0)):
        temp[result0[0][j]] = result1[j][i]
    temp1[result1[0][i]] = temp
    temp = {}
print(temp1)